<a href="https://colab.research.google.com/github/naveen-ramavath/machine-learning/blob/main/ml_week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('Iris.csv')

# Print the shape of the DataFrame
print("Shape of the data:", df.shape)

# Print the type of the data
print("Type of the data:", type(df))

# Print the first 3 rows of the data
print("First 3 rows of the data:")
print(df.head(3))

Shape of the data: (150, 6)
Type of the data: <class 'pandas.core.frame.DataFrame'>
First 3 rows of the data:
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa