<a href="https://colab.research.google.com/github/naveen-ramavath/machine-learning/blob/main/ml_week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a Python program to load the iris data from a given csv file into a dataframe and
print the shape of the data, type of the data and first 3 rows.

In [ ]:
import pandas as pd

df = pd.read_csv('Iris.csv')

print("Shape of the data:", df.shape)

print("Type of the data:", type(df))

print("First 3 rows of the data:")
print(df.head(3))

Shape of the data: (150, 6)
Type of the data: <class 'pandas.core.frame.DataFrame'>
First 3 rows of the data:
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

2.. Write a Python program using Scikit-learn to print the keys, number of rows-columns,
feature names and the description of the Iris data.

In [ ]:
from sklearn.datasets import load_iris
iris = load_iris()

print("keys of iris dataset:")
print(iris.keys())

print("\nshape of data:")
print("rows:",iris.data.shape[0])
print("colums:",iris.data.shape[1])

print("\ndataset description:")
print(iris.DESCR)

keys of iris dataset:
dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

shape of data:
rows: 150
colums: 4

dataset description:
.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...

3.Write a Python program to get the number of observations, missing values and nan
values.

In [ ]:
import pandas as pd

df = pd.read_csv('Iris.csv')

print("Number of observations (rows):", len(df))

print("\nMissing values per column:")
print(df.isnull().sum())

total_nan = df.isnull().sum().sum()
print("\nTotal number of NaN values in the dataset:", total_nan)

Number of observations (rows): 150

Missing values per column:
Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

Total number of NaN values in the dataset: 0

4.Write a Python program to view basic statistical details like percentile, mean, std etc.
of iris data.

In [ ]:
import pandas as pd

df = pd.read_csv('Iris.csv')

print("Basic Statistical Details of the Iris Data:")
print(df.describe())

Basic Statistical Details of the Iris Data:
               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

5.Write a Python program to get observations of each species (setosa, versicolor,
virginica) from iris data.

In [ ]:
import pandas as pd

df = pd.read_csv('Iris.csv')

print("Observations of Setosa:")
print(df[df['Species'] == 'setosa'])

print("\nObservations of Versicolor:")
print(df[df['Species'] == 'versicolor'])

print("\nObservations of Virginica:")
print(df[df['Species'] == 'virginica'])

Observations of Setosa:
Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

Observations of Versicolor:
Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

Observations of Virginica:
Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

6.Write a Python program to drop Id column from a given Dataframe and print the
modified part. Call iris.csv to create the Dataframe.

In [ ]:
import pandas as pd

df = pd.read_csv('Iris.csv')

df = df.drop('Id', axis=1)

print("DataFrame after dropping 'Id' column:")
print(df.head())

DataFrame after dropping 'Id' column:
   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa